<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_trap1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{194,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,76}}</string>
                <key>sourceSize</key>
                <string>{196,76}</string>
            </dict>
            <key>effect_trap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{201,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{201,78}}</string>
                <key>sourceSize</key>
                <string>{207,80}</string>
            </dict>
            <key>effect_trap3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{207,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b107e674b89bd36fb29089fa9e6a8c40:1/1$</string>
            <key>textureFileName</key>
            <string>trap1.png</string>
        </dict>
    </dict>
</plist>
