<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shield1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,101},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,52}}</string>
                <key>sourceSize</key>
                <string>{40,52}</string>
            </dict>
            <key>effect_shield2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>effect_shield3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,47}}</string>
                <key>sourceSize</key>
                <string>{114,47}</string>
            </dict>
            <key>effect_shield4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{89,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,48}}</string>
                <key>sourceSize</key>
                <string>{89,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shield.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f94dec628dfed6584107cc8afdacd0a5:1/1$</string>
            <key>textureFileName</key>
            <string>shield.png</string>
        </dict>
    </dict>
</plist>
